body {
    font-family: 'Poppins', sans-serif;
    background-color: #313243;
    color: antiquewhite;
    margin: 0;
}

a {
    background-color: #3D3F54;
    color: antiquewhite;
    transition: all 0.3s;
    font-weight: 600;
}

a:hover, a:focus {
    filter: invert(100%);
}

h1 {
    margin: 0;
    font-size: 2em;
    padding: 0 0.5em;
}

p {
    padding-left: 1em;
    padding-right: 1em;
}

.container {
    margin: 2em auto;
    width: 50%;
    max-width: 800px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.58);
    padding: 1em 0 0 0;
    background-color: #3D3F54;
}

.container ul {
    background-color: antiquewhite;
    color: #3D3F54;
    list-style: none;
    padding: 0.5em 1em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 2em;
    justify-content: center;
}

.container ul a {
    background-color: antiquewhite;
    color: #3D3F54;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }

    .container ul {
        flex-direction: column;
    }
}

/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: url('./fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./fonts/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: url('./fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: url('./fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
    url('./fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
